<div class="modal fade mt-5 pt-5" id="addMenuModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header shadow">
        <h5 class="modal-title">Add Menu</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center pt-4">
        <center>
          <div
            class="alert alert-danger text-center col-md-6"
            role="alert"
            id="addMenuError"
            style="display: none"
          >
            Unable to add! Please try again.
          </div>
        </center>
        <form class="m-3" id="addMenuForm">
          <!-- Food item name field -->
          <input
            type="text"
            class="form-control mb-1"
            id="itemName"
            name="itemName"
            placeholder="Food/Dish"
            required
          />
          <!-- Food item type (veg or non-veg) -->
          <div class="custom-control custom-checkbox float-left">
            <input
              type="checkbox"
              class="custom-control-input mb-3"
              id="veg"
              name="veg"
            />
            <label
              class="custom-control-label mt-1 pt-1"
              for="veg"
              style="font-size: 1rem;"
              >Non-Veg</label
            >
          </div>
          <!-- Food item description -->
          <textarea
            name="itemIngreds"
            id="itemIngreds"
            rows="3"
            placeholder="Ingredients/Items/Description"
            class="form-control mb-3"
            required
          ></textarea>
          <!-- Cost of the item -->
          <input
            type="number"
            class="form-control mb-3"
            id="itemCost"
            name="itemCost"
            placeholder="Cost"
            required
          />
          <!-- Hidden field which stores restaurant id -->
          <input type="hidden" id="itemRestId" name="itemRestId" required />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger mr-4" data-dismiss="modal">
          Cancel
        </button>
        <input
          type="submit"
          class="btn btn-success"
          value="Add Menu"
          form="addMenuForm"
        />
      </div>
    </div>
  </div>
</div>
