  <style>
    section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
	font-size:25px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}
</style>
  <footer class="mt-3 bg-dark">
    <!-- Footer -->
    <section id="footer">
      <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h5>Quick links</h5>
            <ul class="list-unstyled quick-links">
              <li><a href="/"><i class="fa fa-angle-double-right"></i>Home</a></li>
              <li><a href="/login"><i class="fa fa-angle-double-right"></i>Login</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h5>Customers</h5>
            <ul class="list-unstyled quick-links">
              <li><a href="/customer/register"><i class="fa fa-angle-double-right"></i>Register</a></li>
              <li><a href="/orders"><i class="fa fa-angle-double-right"></i>Orders</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h5>Restaurants</h5>
            <ul class="list-unstyled quick-links">
              <li><a href="/restaurant/register"><i class="fa fa-angle-double-right"></i>Register</a></li>
              <li><a href="/orders"><i class="fa fa-angle-double-right"></i>Orders</a></li>
              <li><a href="/menu"><i class="fa fa-angle-double-right"></i>Menu</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="text-center text-white col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2">Icons made by 
            <a href="https://www.flaticon.com/<?=_('authors').'/'?>pixel-buddha"
               title="Pixel Buddha">Pixel Buddha</a> from 
               <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> 
               is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"             title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
            <p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="/"
                target="_blank">FoodShala</a></p>
          </div>
          </hr>
        </div>
      </div>
    </section>
    <!-- ./Footer -->
  </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Include the javascript file -->
    <script src="/templates/js/script.js"></script>
  </body>
</html>